html, body {
    height: 100%;
    margin: 0;
    font-family: Georgia, serif;
}

#wrapper {
	display:block;
	height: 100%;
	min-height: 100%; 
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(bg.jpg);
}

.fill-height-or-more {
  display: flex;
  flex-direction: column;
}

.fill-height-or-more > div {
  /* these are the flex items */
  flex: 1;
}

#myname {
	padding-left: 2%;
	color: white;
    font-size: 12vw;
}

@media screen and (max-width: 800px) {
#myname {
     font-size: 100px;
     width:50px;
  }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}